* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #2c0000, #000000); /* Fondo oscuro elegante */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contenedor del Libro */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front, .back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ddd;
    backface-visibility: hidden; /* Oculta la parte trasera mientras gira */
    transition: transform 0.5s;
}

.back {
    z-index: 0;
    transform: rotateY(180deg);
}

/* Efecto de giro */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin: 20px;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.2);
}

/* Profundidad de las p치ginas */
#p1 { z-index: 10; }
#p2 { z-index: 9; }
/* ... a침ade z-index descendente para m치s p치ginas */